html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #CEF0EA;
}

.banner {
		background-color:	#004454;
		color: white;
    padding: 30px;
		text-align: center;
    margin-top: 0px;
		}

h1 {
  font-size: 60px
}

form {
  max-width: 900px;
  margin-left: 200px;
  margin-top: 20px;
  padding: 30px;
  background-color:#D3D3D3;
  text-align: left;
  font-size: 20px
}

input {
  width: 95%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

textarea {
  width: 95%;
  padding: 25px;
  borderder: 10px solid gray;
  border-radius: 10px;
}

label {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  
}  

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
}
